---
---
@import "variable";

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: url('images/bg.jpg') fixed center -200px;
	background-size: cover;
}

a {
	color: $main-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

header {
	padding: 0 4rem;
	background-color: #fff;
	text-align: center;
	h1 {
		display: inline-block;
		padding: 1.05rem 2rem;
		margin: 0;
		font-size: 1.8rem;
		font-weight: 400;
		cursor: default;
	}
	nav {
		display: inline-block;
		vertical-align: top;
		padding: 0 2rem;
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				a {
					display: block;
					margin: 0 1rem;
					padding: 1.5rem 1rem 1rem;
					font-size: 1.2rem;
					border-bottom: .2rem solid #fff;
					text-decoration: none;
					transition-duration: .3s;
					&:hover {
						border-bottom: .2rem solid $main-color;
						text-decoration: none;
					}
				}
			}
		}
	}
}

footer {
	position: absolute;
	margin: 0;
	padding: .5rem 5%;
	width: 90%;
	text-align: center;
	background-color: #000;
	color: #fff;
}

main {
	box-sizing: content-box;
	margin: 2rem auto 0;
	padding: 2rem 4rem;
	min-height: 90vh;
	max-width: 960px;
	background-color: #fff;
	box-shadow: 0 2px 2px #777;
	h2 {
		font-weight: 400;
		margin-right: 4rem;
		padding-bottom: .5rem;
		border-bottom: 1px solid #ccc;
		&::before {
			content: '#';
			margin-right: .6rem;
			color: #888;
		}
	}
	ul {
		margin-bottom: 2.4rem;
		ul {
			margin-bottom: 0.6rem;
		}
		li {
			line-height: 1.8rem;
		}
	}

}
