body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    background: url("/images/bg.jpg") fixed center -200px;
    background-size: cover
}

a {
    color: #FF8000;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

header {
    padding: 0 4rem;
    background-color: #fff;
    text-align: center
}

header h1 {
    display: inline-block;
    padding: 1.05rem 2rem;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: default
}

header nav {
    display: inline-block;
    vertical-align: top;
    padding: 0 2rem
}

header nav ul {
    margin: 0;
    padding: 0
}

header nav ul li {
    display: inline-block
}

header nav ul li a {
    display: block;
    margin: 0 1rem;
    padding: 1.5rem 1rem 1rem;
    font-size: 1.2rem;
    border-bottom: .2rem solid #fff;
    text-decoration: none;
    transition-duration: .3s
}

header nav ul li a:hover {
    border-bottom: 0.2rem solid #FF8000;
    text-decoration: none
}

footer {
    position: absolute;
    margin: 0;
    padding: .5rem 5%;
    width: 90%;
    text-align: center;
    background-color: #000;
    color: #fff
}

main {
    box-sizing: content-box;
    margin: 2rem auto 0;
    padding: 2rem 4rem;
    min-height: 90vh;
    max-width: 960px;
    background-color: #fff;
    box-shadow: 0 2px 2px #777
}

main h2 {
    font-weight: 400;
    margin-right: 4rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc
}

main h2::before {
    content: '#';
    margin-right: .6rem;
    color: #888
}

main ul {
    margin-bottom: 2.4rem
}

main ul ul {
    margin-bottom: 0.6rem
}

main ul li {
    line-height: 1.8rem
}

.info-css {
    background: #f6f9ff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 16px;
    margin: 20px 0 0 0;
    padding: 20px;
    font-weight: 700;
}
