---
layout: compress
---
<!DOCTYPE html>
<html{% if page.AMP == true %} amp{% endif %} lang="zh-Hant-TW">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <title>{% if page.INFO != "_PRIVATE" %}{{ page.title }} &mdash; {% endif %}l10n.tw</title>
        <link rel="shortcut icon" type="image/png" href="http://l10n.tw/l10n-tw-logo/圖片/l10n-tw-logo.png" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,700&display=swap" rel="stylesheet">

        {% if page.AMP == true %}
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <link rel="canonical" href="/">
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        {% endif %}
        <style{% if page.AMP == true %} amp-custom{% endif %}>{% include style.scss %}</style>

    </head>

    <body>
        <header>
            <h1>臺灣自由開源 L10N 社群支援站</h1>
            {% if site.navigation %}
            <nav>
                <ul>
                    {% for link in site.navigation %}
                    <li>
                        {% if page.permalink == link.url %}
                        <a style="border-bottom: .2rem solid #FF8000;">{{ link.title }}</a>
                        {% else %}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
        </header>
        <main>
            {% if page.INFO != false %}
                <table class="info-css" border="0">
                    <tr>
                        <td>
                            <div style="margin-right: 10px;">
                                {% case page.INFO-ICON %}
                                {% when "warning" %}
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16" />
                                </svg>
                                {% when "info" %}
                                <svg style="width:25px;height:25px" width="25px" height="25px"viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                                </svg>
                                {% endcase %}</div>
                        </td>
                        <td style="padding-bottom: 9px;">{% case page.INFO %}
                            {% when "_DRAFT" %}本頁面尚未撰寫完成
                            {% when "_PRIVATE" %}本頁面不允許瀏覽！
                            {% else %}{{ page.INFO }}
                            {% endcase %}</td>
                        　</tr>
                </table>
            {% if page.INFO != "_PRIVATE" %}{{ content }}{% endif %}
            {% else %}
            {{ content }}
            {% endif %}
        </main>
        <footer>
            &copy; {{ "now" | date: "%Y" }} Taiwan FLOSS L10N Community
        </footer>
    </body>

    </html>
